{% extends "_includes/default.njk" %}

{% block title %}Welcome to My Personal Website{% endblock %}

{% block content %}
    <!-- fixed navigation -->
    <nav class="fixed z-50 w-full py-4 hover:bg-black transition-colors duration-500">
        <div class="flex flex-col xs:flex-row items-center justify-between w-11/12 mx-auto text-light-gray">
            <h4 class="text-lg font-bold tracking-wide">Joshue Abance</h4>
            <hr class="my-1 block xs:hidden">
            <ul class="flex">
                <li class="mr-6"><a href="/" class="hover:text-main-blue hover:underline transition-colors border-b-1 border-transparent hover:border-white duration-500">About Me</a></li>
                <li class="mr-6"><a href="https://creep-joshue.ml/" class="hover:text-main-blue hover:underline transition-colors border-b-1 border-transparent hover:border-white duration-500">Blog</a></li>
                <li><a href="/portfolio" class="hover:text-main-blue hover:underline transition-colors border-b-1 border-transparent hover:border-white duration-500">My Works</a></li>
            </ul>
        </div>
    </nav>
    <!-- fullscreen header -->
    <header class="main-header text-light-gray py-6 h-screen w-full flex items-center justify-center relative z-40">
        <div class="w-11/12 mx-auto text-center">
            <div>
                <h1 class="text-2xl sm:text-3xl font-light">Welcome to my <br><span class="underline">personal website</span>. My name is <br><strong class="text-4xl sm:text-5xl tracking-wde text-main-blue uppercase font-black">Joshue L. Abance</strong></h1>
                <p class="text-lg font-light pt-2 sm:pt-4">Get to know more about me...</p>
                <!-- buttons -->
                <div class="flex flex-col xs:flex-row items-center justify-center mt-4 xs:mt-8">
                    <a href="#contact-me" type="button" class="m-1 bg-black px-6 xs:px-8 py-2 xs:py-4 hover:bg-gray-800 transition-colors duration-500">Send Me a Message</a>
                    <a href="#about-me" type="button" class="m-1 bg-mid-gray text-black px-6 xs:px-8 py-2 xs:py-4 hover:bg-white transition-colors duration-500">About Me</a>
                </div>
            </div>
        </div>
    </header>

    <!-- about me -->
    <div id="about-me" class="h-screen w-full about-header flex items-center justify-center">
        <div class="text-center w-11/12 xs:w-5/6 md:w-2/3 mx-auto">
            <h2 class="text-2xl font-bold text-main-blue uppercase mb-4">About Me</h2>
            <p class="text-lg xs:text-xl text-gray-100 font-light">I am just a simple introverted person and a nerd who wants to explore and experience new things. I specialize and excel in computer softwares, programming and other tech-stuff.<br>I am an elementary and high school graduate and is currently studying in college.</p>
            <p class="text-light-gray font-light my-4">PS: I don't have such sayings for inspiration, its just that I'm all about simplicity. I am shy so I prefer to do things alone.</p>
            <!-- social media accounts -->
            <small class="uppercase font-bold text-light-gray">My Social Media Accounts</small>
            <ul class="flex items-center justify-center">
                <li class="mx-1">
                    <a type="button" href="https://facebook.com/joshue1337/" class="text-2xl text-light-gray opacity-75 hover:scale-125 hover:opacity-100 hover:text-main-blue transform transition-all duration-500"><i class="fab fa-facebook"></i></a>
                </li>
                <li class="mx-1">
                    <a type="button" href="https://twitter.com/joshabance" class="text-2xl text-light-gray opacity-75 hover:scale-125 hover:opacity-100 hover:text-main-blue transform transition-all duration-500"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="mx-1">
                    <a type="button" href="https://www.instagram.com/_3uhsoj/" class="text-2xl text-light-gray opacity-75 hover:scale-125 hover:opacity-100 hover:text-main-blue transform transition-all duration-500"><i class="fab fa-instagram"></i>
                    </a></li>
                <li class="mx-1">
                    <a type="button" href="https://github.com/TheBoringDude/" class="text-2xl text-light-gray opacity-75 hover:scale-125 hover:opacity-100 hover:text-main-blue transform transition-all duration-500"><i class="fab fa-github"></i></a>
                </li>
            </ul>
        </div>
    </div>

    <!-- cta section -->
    <div class="bg-black py-8 flex items-center justify-center">
        <div class="text-white text-center">
            <p class="text-xl font-light tracking-wide">Want to check some of my contents?</p>
            <div class="mt-4">
                <a href="https://creep-joshue.ml/" type="button" class="py-2 px-6 mx-1 bg-dark-gray hover:bg-main-blue text-lg uppercase font-light transition-colors duration-500">Blog</a>
                <a href="/portfolio" type="button" class="py-2 px-6 mx-1 bg-dark-gray hover:bg-main-blue text-lg uppercase font-light transition-colors duration-500">My Works</a>
            </div>
        </div>
    </div>

    <!-- hobbies -->
    <div class="h-screen w-full hobbies-header flex items-center justify-center">
        <div class="text-center w-11/12 sm:w-4/5 lg:w-2/3 xl:w-1/2 mx-auto">
            <h2 class="text-2xl font-bold text-white underline uppercase mb-4">My Hobbies</h2>
            <div class="grid grid-cols-2 sm:grid-cols-3 gap-4">
                <div class="bg-bland text-light-gray p-4">
                    <i class="text-3xl fas fa-play text-main-blue"></i>
                    <p class="text-lg font-light">Watch Movies</p>
                </div>
                <div class="bg-bland text-light-gray p-4">
                    <i class="text-3xl fas fa-keyboard text-main-blue"></i>
                    <p class="text-lg font-light">Play Games</p>
                </div>
                <div class="bg-bland text-light-gray p-4">
                    <i class="text-3xl fas fa-code text-main-blue"></i>
                    <p class="text-lg font-light">Code and Program</p>
                </div>
                <div class="bg-bland text-light-gray p-4">
                    <i class="text-3xl fas fa-globe text-main-blue"></i>
                    <p class="text-lg font-light">Browse and Surf</p>
                </div>
                <div class="bg-bland text-light-gray p-4">
                    <i class="text-3xl fas fa-headphones text-main-blue"></i>
                    <p class="text-lg font-light">Listen to Music</p>
                </div>
                <div class="bg-bland text-light-gray p-4">
                    <i class="text-3xl fas fa-home text-main-blue"></i>
                    <p class="text-lg font-light">House Chores</p>
                </div>
            </div>
        </div>
    </div>

    <!-- contact me -->
    <div id="contact-me" class="h-screen w-full contact-header flex items-center justify-center">
        <div class="text-center w-11/12 sm:w-2/3 lg:w-1/2 xl:w-1/3 mx-auto">
            <h2 class="text-2xl font-bold text-white underline uppercase">Send Me a Message</h2>
            <p class="text-lg text-light-gray mb-4">Send me a qoute...</p>
            <form name="contact" method="POST" class="w-11/12 mx-auto" data-netlify="true">
                <div class="flex flex-col py-1">
                    <label class="text-lg text-light-gray text-left" for="fullname">Fullname</label>
                    <input name="fullname" required class="px-3 py-2 font-light bg-bland text-lg border border-dark-gray focus:bg-dark-gray text-light-gray focus:text-white focus:outline-none focus:border-main-blue" type="text" name="fullname" placeholder="Enter your complete name">
                </div>
                <div class="flex flex-col py-1">
                    <label class="text-lg text-light-gray text-left" for="email">Email Address</label>
                    <input name="email" required class="px-3 py-2 font-light bg-bland text-lg border border-dark-gray focus:bg-dark-gray text-light-gray focus:text-white focus:outline-none focus:border-main-blue" type="email" name="email" placeholder="Enter your email address">
                </div>
                <div class="flex flex-col py-1">
                    <label class="text-lg text-light-gray text-left" for="message">Message</label>
                    <textarea name="message" required class="px-3 py-2 font-light bg-bland text-lg border border-dark-gray focus:bg-dark-gray text-light-gray focus:text-white focus:outline-none focus:border-main-blue h-32" name="message" placeholder="What do you want to say to me?"></textarea>
                </div>
                <div class="py-1">
                    <input type="submit" value="Send Message" class="px-12 py-2 uppercase bg-dark-gray hover:bg-main-blue text-white cursor-pointer transition-colors duration-500">
                </div>
            </form>
        </div>
    </div>

    <!-- simple footer -->
    <div class="py-4 bg-dark-gray text-white flex items-center justify-center">
        <p class="font-light tracking-wide text-sm">Joshue Abance - &copy; 2020 | ima.boringdude@gmail.com</p>
    </div>
{% endblock %}