{% extends "_includes/default.njk" %}

{% block title %}My Works{% endblock %}

{% block content %}
    <!-- portfolio contents -->
    <div class="py-6 w-11/12 mx-auto">
        <h3 class="text-2xl text-center mb-3">Here are some of my works...</h3>
        <hr>
        <div class="w-11/12 mx-auto">
            <h3 class="text-lg text-center mb-2 uppercase font-semibold">Websites</h3>
            <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                <li class="bg-middle text-white text-center border">
                    <a href="" class="h-32 sm:h-40 md:h-48 lg:h-56 xl:h-64 transform hover:scale-110 transition-transform ease-in-out duration-500" type="button">
                        <img src="/projects/websites/teambarssity.png" alt="" class="h-full w-full object-cover object-top">
                    </a>
                    <a href="github" type="button" title="View source code of Team Barssity" class="pb-2 text-center text-lg font-semibold">Team Barssity</a>
                </li>
                <li class="bg-middle text-white text-center border">
                    <a href="" class="h-32 sm:h-40 md:h-48 lg:h-56 xl:h-64 transform hover:scale-110 transition-transform ease-in-out duration-500" type="button">
                        <img src="/projects/websites/livelong.png" alt="" class="h-full w-full object-cover object-top">
                    </a>
                    <a href="github" type="button" title="View source code of Live Long Cafe" class="pb-2 text-center text-lg font-semibold">Live Long Cafe</a>
                </li>
                <li class="bg-middle text-white text-center border">
                    <a href="" class="h-32 sm:h-40 md:h-48 lg:h-56 xl:h-64 transform hover:scale-110 transition-transform ease-in-out duration-500" type="button">
                        <img src="/projects/websites/covid19ph.png" alt="" class="h-full w-full object-cover object-top">
                    </a>
                    <a href="github" type="button" title="View source code of COVID-19 PH API" class="pb-2 text-center text-lg font-semibold">COVID-19 PH API</a>
                </li>
                <li class="bg-middle text-white text-center border">
                    <a href="" class="h-32 sm:h-40 md:h-48 lg:h-56 xl:h-64 transform hover:scale-110 transition-transform ease-in-out duration-500" type="button">
                        <img src="/projects/websites/makemeshort.png" alt="" class="h-full w-full object-cover object-top">
                    </a>
                    <a href="github" type="button" title="View source code of Makeme.Short" class="pb-2 text-center text-lg font-semibold">Makeme.Short</a>
                </li>
                <li class="bg-middle text-white text-center border">
                    <a href="" class="h-32 sm:h-40 md:h-48 lg:h-56 xl:h-64 transform hover:scale-110 transition-transform ease-in-out duration-500" type="button">
                        <img src="/projects/websites/mymood.png" alt="" class="h-full w-full object-cover object-top">
                    </a>
                    <a href="github" type="button" title="View source code of my.Mood" class="pb-2 text-center text-lg font-semibold">my.Mood</a>
                </li>
                <li class="bg-middle text-white text-center border">
                    <a href="" class="h-32 sm:h-40 md:h-48 lg:h-56 xl:h-64 transform hover:scale-110 transition-transform ease-in-out duration-500" type="button">
                        <img src="/projects/websites/uc-concept.png" alt="" class="h-full w-full object-cover object-top">
                    </a>
                    <a href="github" type="button" title="View source code of UC (concept)" class="pb-2 text-center text-lg font-semibold">UC <span>(concept)</span></a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}