{% extends "_includes/default.njk" %}

{% block title %}My Works{% endblock %}

{% block content %}
    <!-- portfolio contents -->
    <div class="bg-black text-white h-screen w-full flex items-center justify-center">
        <h1 class="text-3xl font-light tracking-wide">Website section is under contruction :)</h1>
    </div>
{% endblock %}