<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if description %}
        <meta name="description" content="{{description}}">
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
    {% endblock title %} | Joshue Abance</title>
    <link rel="stylesheet" href="/style.css?v={% version %}"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/aedc654065.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css">
    <script src="/js/alpine.js?v={% version %}"></script>
</head>
<body class="antialiased w-full h-full">
    <!-- main content -->
    {% block content %}
        {{ content | safe }}
    {% endblock %}
</body>
</html>