<footer class="py-4 bg-greener text-white text-center">
    <p>Copyrights &copy; <span id="year"></span> | Joshue Abance - All Rights Reserved</p>
</footer>

<script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
</script>