<nav class="px-4 text-white" x-show="navbar"
    x-on:resize.window="navbar = window.outerWidth >= 768 ? true : navbar"
    x-on:load.window="navbar = window.outerWidth >= 768 ? true : navbar"
    >
    <ul class="py-3 flex flex-col sm:flex-row items-center justify-around md:justify-between flex-wrap">
        <li class="my-1 sm:my-0 md:mx-2"><a href="/" class="hover:bg-dark transition-colors duration-500 py-3 px-4">Home</a></li>
        <li class="my-1 sm:my-0 md:mx-2"><a href="/#about" class="hover:bg-dark py-3 transition-colors duration-500 px-4">About</a></li>
        <li class="my-1 sm:my-0 md:mx-2 uppercase"><a href="/blog" class="hover:bg-dark py-3 transition-colors duration-500 px-4">Blog</a></li>
        <li class="my-4 sm:my-0 md:mx-2"><a href="/portfolio" class="bg-dark hover:bg-middle rounded-full py-3 transition-colors duration-500 px-4">Portfolio</a></li>
    </ul>
</nav>