@tailwind base;

.about-header{
  background: url(static/images/bg.JPG) rgba(0, 0, 0, 0.9);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}

.hobbies-header{
  background: url(static/images/hobbies.jpg) rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}
.contact-header{
  background: url(static/images/contact.jpg) rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
  background-size: cover;
}
.main-header{
  background: url(static/images/showcase.jpg) rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  background-size: cover;
}

@tailwind components;
@tailwind utilities;
